body {
	font-family: $lato;
	color: $font-color;
}

.h1 {
	font-family: $objectivity;
	font-weight: bold;
	font-size: rem(36);
}

.h2 {
	font-family: $objectivity;
	font-weight: bold;
	font-size: rem(24);
}

.h3 {
	font-family: $objectivity;
	font-weight: bold;
	font-size: rem(22);
}

.h4 {
	font-family: $objectivity;
	font-weight: bold;
	font-size: rem(18);
}

.p {
	font-weight: 300;
	font-size: rem(16);
}

.a {
	color: $primary;
	transition: all 0.4s ease;
	&:hover {
		color: $secondary;
	}
}

.ul {
	@include list-unstyled();
	&__li {
		padding: em(10) em(5);
		border-bottom: 1px solid $light-grey;
		&:last-child {
			border-bottom: none;
		}
		&--without-border {
			border: none;
			padding: em(10) 0;
		}
	}
}

.flex-container {
	display: flex;
	overflow: auto;
}
