// import mixins and functions
@import 'functions';
@import 'mixins';

/** GLOBAL SETTINGS */
$font-directory: '../fonts' !default;

/** PRIMARY COLORS **/
$primary: #3B497E !default;
$primary-light: #EBEBFF !default;
$secondary: #00175E !default;
$font-color: #333 !default;

/** GREYS **/
$grey-1: #555555 !default; 
$grey-2: #707070 !default;
$light-grey: #CECECE !default;

/** UTILITY COLORS **/
$success: #00BA39 !default;
$error: #D61E1E !default;
$red: #D82E2E !default;
$facebook: #4267B2 !default;
$twitter: #1DA1F2 !default;

/** FONTS **/
$objectivity: 'Objectivity', sans-serif !default;
$lato: 'Lato', sans-serif !default;

/** BOX SHADOWS **/
$box-shadow-1: 0px 0px 12px rgba(0,0,0,0.16) !default;
$box-shadow-2: 0px 3px 14px rgba(0,0,0,0.16) !default;
$box-shadow-3: 0px -5px 10px rgba(0,0,0,0.16) !default;

/** BORDER RADIUS **/ 
$default-radius: 14px !default;